.container {
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .movie_grid {
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
  }
  .movie_poster {
    width: 40%;
  }
  .movie_poster img {
    width: 100%;
  }
  .movie_info {
    width: 60%;
    border: 4px solid green;
  
  }
  .movie_info h3{
    width: 100%;
    font-size: 2rem;
  
  }
  .movie_info p{
    width: 100%;
    font-size: 1rem;
  
  }
  .movie_info p b{
    font-size: 1.5rem;
  }
  .genre{
    background-color: rgb(136, 131, 131);
  
  }